@charset "UTF-8";
/* 圖片取代文字技巧 */
.classDetail {
  background-color: #1C1C1C; }
  .classDetail .box1, .classDetail .box2, .classDetail .box3, .classDetail .box4 {
    width: 10px;
    height: 10px;
    background-color: #fff; }

.basicInfo .pic {
  margin: 0 auto; }
  .basicInfo .pic img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%; }
  .basicInfo .pic h3 {
    font-size: 16px;
    line-height: 24px; }

.basicInfo .content h2 {
  font-size: 24px;
  line-height: 36px;
  font-weight: bold; }

.basicInfo .content h3 {
  font-size: 16px;
  line-height: 24px;
  color: #62DB54; }

.basicInfo .content p {
  font-size: 16px;
  line-height: 24px; }

@media (max-width: 768px) {
  .basicInfo .content {
    margin-top: 24px; } }

.teacherInfo h2 {
  font-size: 20px;
  line-height: 30px; }

.teacherInfo .teacherInfoContent .row {
  border-bottom: 1px solid #fff; }
  .teacherInfo .teacherInfoContent .row span {
    color: #62DB54; }
  .teacherInfo .teacherInfoContent .row .title {
    font-size: 16px;
    line-height: 24px;
    color: #C1C1C1; }

.courseInfo h2 {
  font-size: 20px;
  line-height: 30px; }

.courseInfo h3 {
  font-size: 18px;
  line-height: 26px;
  border-left: 2px solid #62DB54; }

.courseInfo p {
  font-size: 16px;
  line-height: 24px; }

.courseInfo li {
  padding-left: 13px;
  position: relative; }
  .courseInfo li::before {
    position: absolute;
    left: 0;
    top: 50%;
    content: " ";
    width: 5px;
    height: 5px;
    background-color: #62DB54; }

.priceChoose .choose {
  color: #FFFFFF; }
  .priceChoose .choose .btn {
    border: transparent; }
    .priceChoose .choose .btn span {
      background: -webkit-gradient(linear, left top, left bottom, from(#09ACF5), to(#62DB54));
      background: -o-linear-gradient(top, #09ACF5, #62DB54);
      background: linear-gradient(180deg, #09ACF5, #62DB54);
      color: #fff;
      border-radius: 50%; }
  .priceChoose .choose:hover {
    color: #62DB54; }

.priceChoose .border-bottom {
  border-bottom: 1px solid #fff; }

.peopleSee .col-md-3 {
  border: 2px solid transparent;
  border-radius: 24px; }
  .peopleSee .col-md-3 .box {
    border-radius: 24px;
    border: 2px solid transparent; }
    .peopleSee .col-md-3 .box:hover {
      border: 2px solid #62DB54;
      border-radius: 24px; }
  .peopleSee .col-md-3 .profile {
    padding: 24px 0px 0px 0px; }
    .peopleSee .col-md-3 .profile h3 {
      font-size: 16px;
      line-height: 24px; }
    .peopleSee .col-md-3 .profile img {
      width: 100px;
      height: 100px;
      border-radius: 50%; }
  .peopleSee .col-md-3 h4 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 37px;
    padding: 0px 24px; }
  .peopleSee .col-md-3 .content {
    padding: 0px 24px; }
    .peopleSee .col-md-3 .content h3 {
      font-size: 16px;
      line-height: 24px;
      color: #62DB54; }
    .peopleSee .col-md-3 .content p {
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 32px; }
  .peopleSee .col-md-3 .price {
    border-top: 1px solid #fff;
    padding: 16px 0px; }
    .peopleSee .col-md-3 .price span {
      font-size: 32px;
      line-height: 37px; }

.peopleSee .buttonArea {
  padding: 48px 0px 88px 0px; }
  .peopleSee .buttonArea .btn {
    background: -o-linear-gradient(346deg, #09ACF5, #62DB54);
    background: linear-gradient(104deg, #09ACF5, #62DB54); }
    .peopleSee .buttonArea .btn a {
      color: #fff;
      font-size: 18px;
      line-height: 26px; }

/*# sourceMappingURL=classDetail.css.map */
