/* 圖片取代文字技巧 */
@mixin hide-text {
    text-indent: 101%;
    white-space: nowrap;
    overflow: hidden;
  }
// 文字漸層效果
//https://bootcamp.uxdesign.cc/gradient-text-in-css-609068d3f953
@mixin gradient-text {
    background-image: linear-gradient(180deg, #09ACF5, #62DB54);
    background-clip: text;
    color: transparent;
}
@mixin img-mask{
    background-color: rgba(0, 0, 0, 0.7);
    background-blend-mode: multiply;
}

@mixin lg{
    @media(min-width: 992px){
        @content;
    }
}
@mixin md{
    @media(min-width: 768px){
        @content;
    }
}


//font-size
@mixin fz-1{
    font-size: 16px;
    line-height: 24px;
}
@mixin fz-2{
    font-size: 18px;
    line-height: 26px;
}
@mixin fz-3{
    font-size: 20px;
    line-height: 30px;
}
@mixin fz-4{
    font-size: 24px;
    line-height: 36px;
}
@mixin fz-5{
    font-size: 28px;
    line-height: 40px;
}
@mixin fz-6{
    font-size: 32px;
    line-height: 37px;
}
@mixin fz-7{
    font-size: 48px;
    line-height: 70px;
}