@import '../utils/mixin';
ol,ul{
    padding-left: 16px;
}
.classCatgory{
    li{
        border: 1px solid #fff;
        border-radius: 8px;
        margin-right: 16px;
        // min-width: 130px;
        a{
            @include text-nowrap;
        }
        &:hover{
            border: 1px solid #62DB54;
            a{
                color:#62DB54;
            }       
        }
        a{
            display: block;
            padding: 16px 32px;
            @include fz-1;
            color:#fff;
        }
    }
}
.classCards{
    .classcard{
        border-radius: 24px;
        border: 1px solid transparent;
        .pic{
            margin: 0 auto;
            img{
                display: block;
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }   
            h3{
                @include fz-1;
            }
        }
        .content{
            h2{
                @include fz-4;
                font-weight: bold;
            }
            h3{
                @include fz-1;
                color:#62DB54;
            }
            p{
                @include fz-1;
            }
            @media (max-width:768px) {
                margin-top: 24px;
            }
        }
        .price{
            @media (max-width:768px) {
                margin-top: 48px;
                .time{
                    margin-bottom: 16px;
                    h4{
                        margin-right: 8px;
                    }
                }
            }
            h4{
                @include fz-1;
            }
            h3{
                @include fz-6;
            }
            .btnArea{
                @media (max-width:768px) {
                    gap:0px 8px;
                }
            }
            a:nth-child(1){
                display: block;
                padding: 8px 10px;
                border-radius: 8px;
                border: 1px solid #fff;
                color:#fff;
                margin-bottom: 8px;
            }
            .btnReserve{
                a{
                    border-radius: 8px;
                    color:#fff;
                    background:linear-gradient(104deg,#09ACF5,#62DB54);
                    border: 1px solid transparent;
                    margin-bottom: 8px;
                }
            }
        }
    }
}