@import '../utilities/mixin';


.banner{
    overflow: hidden;
    height: 720px;
    // background: linear-gradient(45deg, #EB9C37 10%,transparent 10%,transparent 90%,#EB9C37 90%),linear-gradient(135deg, transparent 40%, #EB9C3780 40%, #EB9C3780 60%, transparent 0),linear-gradient(45deg, transparent 40%, #EB9C37 40%, #EB9C37 60%, transparent 0);
    //     background-size: 6em 6em;
    //     background-color: #ffffff;
    //     opacity: 1;
    background-image: url('https://i.imgur.com/qEynSnr.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    .col-md-8{
        margin-top: 150px;
        --bs-bg-opacity:.8;
    }
    .special-text{
        @include gradient-text;
    }
    a{
        &:hover{
            border: 3px solid #EB9C37;
        }
    }  
}
.about{
    overflow: hidden;
    background-image: url(https://i.imgur.com/CG7k2lc.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    // .top-ball{
    //     @media (max-width:768px) {
    //         position: absolute;
    //         width: 110px;
    //         height: 220px;
    //         background-image: linear-gradient(180deg, #EB9C37 0%, #DD4C57 100%);
    //         border-radius: 100px 0 0 100px;
    //         top:50%;
    //         right:0
    //     }
    //     position: absolute;
    //     width: calc(525px / 2);
    //     height: 188px;
    //     background-image: linear-gradient(180deg, #EB9C37 0%, #DD4C57 100%);
    //     border-radius: 0 0 100% 0;
    //     top:0;
    // }
    // .bottom-ball{
    //     position: absolute;
    //     width: 600px;
    //     height: 600px;
    //     background-image: linear-gradient(180deg, #EB9C37 0%, #DD4C57 100%);
    //     border-radius: 50%;
    //     bottom:-30%;
    //     right:-10%;
    //     @media (max-width:768px) {
    //         position: absolute;
    //         width: 320px;
    //         height: 320px;
    //         background-image: linear-gradient(180deg, #EB9C37 0%, #DD4C57 100%);
    //         border-radius:  50%;
    //         bottom:10px;
    //         left:-20%;
    //     }
    // }
    .special-text{
        @include gradient-text;
    }
    .title{
        h2{
            height: 188px;
            line-height: 188px;
            text-shadow: 1px 5px 20px #9c9b9a;
        }
    }
    .about-card{
        border-radius: 30px;
        box-shadow:  -15px 15px 8px -3px #b0b0b0;
        .material-symbols-outlined{
            font-size: 80px;
        }
    }
    .col{
        position: static;
        z-index: 1;
        
        // box-shadow:  -10px 10px 8px -3px #b0b0b0;
    }
    p.fs-5{
        text-shadow: 1px 5px 5px #9c9b9a;
    }
}
.steps{
    overflow: hidden;
    span{
        @include gradient-text;
    }
    .col{
        position: relative;
        z-index: 2; 
    }
    .col-right{
        position: relative;
        z-index: 2;
        .stepsCard{
            position: absolute;
            top: 50%;
            @media (max-width:768px) {
                position: static;
            }
        }
    }
    .ball{
        position: relative;
        &::after{
            position: absolute;
            z-index: 2;
            top:50%;
            transform: translate(-50%, -50%);
            left:135%;
            content: '';
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-image: linear-gradient(180deg, #EB9C37 0%, #DD4C57 100%);
            @media (max-width:768px) {
                display: none;
            }
        }
        &::before{
            position: absolute;
            z-index: 2;
            top:100%;
            transform: translate(-50%, -50%);
            left:135%;
            content: '';
            width:24px;
            height:24px;
            border-radius: 50%;
            background-image: linear-gradient(180deg, #EB9C37 0%, #DD4C57 100%);
            @media (max-width:768px) {
                display: none;
            }
        }
    }
    .ball2{
        position: relative;
        &::after{
            position: absolute;
            top:50%;
            transform: translate(-50%, -50%);
            left:135%;
            content: '';
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background-image: linear-gradient(180deg, #EB9C37 0%, #DD4C57 100%);
            @media (max-width:768px) {
                display: none;
            }
        }
        .material-symbols-outlined{
            position: absolute;
            transform: rotateZ(10deg);
            top:calc(50% + 20px );
            left:125%;
            font-size: 100px;
            @media (max-width:768px) {
                display: none;
            }
        }
    }
    .line{
        position: relative;
        &::after{
            position: absolute;
            top:110%;
            transform: translate(-50%, -50%);
            left:calc(-33% + 5px);
            content: '';
            width: 2px;
            height: 220%;
            background-image: linear-gradient(270deg, #EB9C37 0%, #DD4C57 100%);
            @media (max-width:768px) {
                display: none;
            }
        }
    }
    .bg-dot{
        position: absolute;
        top:15%;
        width: 356px;
        height: 356px;
        background-image:
          radial-gradient(#F57C00 3px, transparent 0);
          background-size: 10% 10%;
        @media (max-width:768px) {
            top: 12%;
        }
    }
    .bg-dot2{
        z-index: 1;
        width: 356px;
        height: 356px;
        background-image:
          radial-gradient(#F57C00 3px, transparent 0);
          background-size: 10% 10%;
    }
}
.preview{
    overflow: hidden;
    img{
        display: block;
        max-width: 100%;
    }
    span{
        @include gradient-text;
    }
}
.notice{
    overflow: hidden;
    padding: 60px 0px 0px 0px;
    picture{
        position: absolute;
        right:0;
        bottom:0;
        @media (max-width:768px) {
            position: static;
        }
    }
    img{
        display: block;
        max-width: 611px;
        @media (max-width:768px) {
            max-width: 375px;
        }
    }
    .input-area{
        margin: 64px 0px 60px 0px;
        input{
            border-radius: 30px;
            font-size: 20px;
            line-height: 30px;
            padding: 12px 20px;
        }
        span{
            right:1%;
            font-size: 48px;
            @include gradient-text;
        }
    }
}


