.under-line{
    width: 100%;
    height: 3px;
    // border-bottom: 2px solid #b9b7b7;
}
.register{
    height: 100vh;
    background-image: url(https://media.istockphoto.com/photos/businessman-at-office-desk-signing-a-contract-form-in-office-picture-id1217086008?k=20&m=1217086008&s=612x612&w=0&h=4hyFas9-0XxePsCPThqQ1noGYNacaW5If1uc77dIbCI=);
    background-repeat: no-repeat;
    background-size: cover;
}