//bs5
@import '../../../node_modules/bootstrap/scss/functions';
@import '../style/helpers/variables';
@import '../../../node_modules/bootstrap/scss/bootstrap';
//scss觀念先default會蓋掉後面default(自己版本bs variable要放前面)
@import '../style/utils/mixin';

//hover.css
@import '../../../node_modules/hover.css/scss/hover.scss';

//單獨頁面scss
@import '../style/pages/class.scss';
@import '../style/pages/classDetail.scss';
//font、icon
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0");
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&family=Noto+Sans+TC:wght@100&display=swap');

nav{
    border-bottom: 1px solid #000;
    .nav-item{
        border-radius: 5px ;
        &:hover{
            background-color:  #62DB54;
            cursor: pointer;
        }
    }
    h1{
        a{
            //a連結圖片會被裁切？
            width: 110%;
            display:block;
            background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/a42e625b3e98d0fe8ffa5f9f58096fb8326aa845/week6-202207/logo.svg);
            background-position:center;
            background-size:cover;
            @include hide-text;
        }
    }
    .navbar-toggler{
        span{
            color:#62DB54;
            font-size: 36px;
        }
    }
    ul{
        gap: 48px;
        @include fz-2;
    }
}
.special-border{
    .box1{
        width: 50%;
        height: 4px;
        background-color: #62DB54;
    }
    .box2{
        width: 50%;
        height: 4px;
        background-color: #09ACF5;
    }
}
.footer{
    p{
        color:#909090;
        // @include azeret-mono;
        @include fz-1;
    }
}


//index頁
.banner{
    height: 680px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_home.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: cover;
    .col-12{
        @include lg{
            padding: 52px 85px;
        }
        padding: 32px 24px;
        border: 1px solid #FFFFFF;
        .box{
            width: 10px;
            height: 10px;
            background-color: #fff;
        }
    }
    h3:nth-child(1){
        @include gradient-text;
        font-size: 48px;
        line-height: 1;
    }
    h3:nth-child(2){
        @include fz-7
    }
    h4{
        @include fz-2
    }
}
.borderBox{
    display: block;
    margin-top: 16px;
    width: 50px;
    height: 3px;
    background-color: #62DB54;
}
.introduction{
    overflow-x: hidden;
    background-color: #00000058;
    padding: 80px 72px;
    @media (max-width:768px) {
        padding: 80px 16px;
    }
    span,h4,p{
        color:#FFFFFF
    }
    span{
        @include gradient-text;
    }
    .bg-black{
        @media(min-width:768px){
            background-color: #2D2D2D!important;
        }
    }
    .col{
        padding: 52px 24px 48px 24px;
        border: 1px solid transparent;
        border-radius: 12px;
        h3{
            @include fz-5;
            font-weight: bold;
        }
        h4,p{
            @include fz-2;
        }
        .material-symbols-outlined{
            font-size: 48px;
        }
        &:hover{
            border: 1px solid #62DB54;
            border-radius: 12px;
            background-color: #202020;
            span{
                @include gradient-text;
            }
        }
    }
}
.process{
    overflow-x: hidden;
    padding: 80px 0px;
    background-color: #111;
    .title{
        margin-bottom: 64px;
    }
    .col{
        h3{
            @include fz-4;
        }
        p{
            @include fz-2;
        }
        .box{
            border: 1px solid #fff;
            position: relative;
        padding: 48px;
        border-radius: 12px;
        }
        .num{
            position: absolute;
            top:-30px;
            left:40px;
            font-size: 48px;
            line-height: 56px;
            color:#62DB54;
            background-color: #111;
            padding: 0px 5px;
        }
    }
}
.programs{
    overflow-x: hidden;
    padding: 80px 0px;
    .title{
        margin-bottom: 64px;
    }
    .programItems{
        .swiper-slide {
            overflow: hidden;
            box-sizing: border-box;
            margin-right: 16px !important;
            text-align: center;
            @include fz-2;
            padding: 24px 0px;
            border: 1px solid #fff;
            border-radius: 12px;
            @media (max-width:1200px) {
                width: 110px !important;
            }
          }
    }
}
.hotCourse{
    overflow-x: hidden;
    padding: 80px 0px 0px 0px;
    .row{
        // gap:0px 24px;
        margin-top: 48px;
    }
    .col{
        border: 2px solid transparent;
        border-radius: 24px;
        .box{
            border-radius: 24px;
            border:2px solid transparent;
            &:hover{
                border: 2px solid #62DB54;
                border-radius: 24px;
            }
        }
        .profile{
            padding: 24px 0px 0px 0px;
            h3{
                @include fz-1;
            }
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
        h4{
            @include fz-3;
            margin-bottom: 37px;
            padding: 0px 24px;
        }
        .content{
            padding: 0px 24px;
            h3{
                @include fz-1;
                color:#62DB54;
            }
            p{
                @include fz-1;
                padding-bottom: 32px;
            }
        }
        .price{
            border-top: 1px solid #fff;
            padding: 16px 0px;
            span{
                @include fz-6;
            }
        }
    }
    .buttonArea{
            padding: 48px 0px 88px 0px;
            .btn{
                background: linear-gradient(104deg, #09ACF5, #62DB54);
                a{
                    color:#fff;
                    @include fz-2;
                }
            }
        }
}
.feature{
    overflow-x: hidden;
     .col:nth-child(1){
        padding: 215px 48px;
        height: 100%;
        color:#fff;
        @include img-mask;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info01.jpg?raw=true);
        background-position:center;
        background-size:cover;
    }
    .col:nth-child(2){
        padding: 215px 45px;
        height: 100%;
        color:#fff;
        @include img-mask;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info02.jpg?raw=true);
        background-position:center;
        background-size:cover;
    }
    .col:nth-child(3){
        padding: 215px 48px;
        height: 100%;
        color:#fff;
        @include img-mask;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info03.jpg?raw=true);
        background-position:center;
        background-size:cover;
    }
    .col:nth-child(4){
        padding: 215px 48px;
        height: 100%;
        color:#fff;
        @include img-mask;
        background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/info04.jpg?raw=true);
        background-position:center;
        background-size:cover;
    }
    .col{
        h3{
            @include fz-4;
            font-weight: bold;
        }
        p{
            @include fz-2;
            opacity: .5;
        }
        .border-bottom{
            width: 50px;
            height: 3px;
            background-color: #fff;
            margin-bottom: 32px;
        }
        span{
            font-size: 36px;
            opacity: .5;
        }
        &:hover{
            p{
                @include fz-2;
                opacity: 1;
            }
            .border-bottom{
                width: 70px;
                height: 3px;
                background-color: #62DB54;
                margin-bottom: 32px;
                transition: width 0.2s linear;
            }
            span{
                color: #62DB54;
                opacity: 1;
            }
            background-color: rgba(0, 0, 0, 0);
            transition: background-color 0.4s linear;
            background-blend-mode: multiply;
        }
    }
}
.article{
    overflow: hidden;
    padding: 80px 16px;
    .row{
        padding-top: 48px;
    }
    .col-md-4{
        padding: 32px;
        border: 1px solid transparent;
        border-radius: 12px;
        img{
            max-width: 100%;
        }
        h3{
            @include fz-2;
            font-weight: bold;
        }
        p{
            @include fz-1;
        }
        a{
            font-size: 18px;
            line-height: 20px;
            color:#62DB54;
        }
        &:hover{
        padding: 32px;
        border: 1px solid #62DB54;
        border-radius: 12px;
        .box1{
            height: 32px;
            width: 85%;
        }
        .box2{
            height: 85%;
            width: 32px;
        }
        .box3{
            height: 32px;
            width: 85%;
        }
        .box4{
            height: 85%;
            width: 32px;
        }
        }
    }
}
.feedback{
    overflow-x: hidden;
    padding: 80px 0px;
    height: 740px;
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week6-202207/bg_share.jpg?raw=true);
    background-position:center;
    background-size:cover;
}
.swiper {
    width: 100%;
    .swiper-slide{
        .col-md-5{
            .img{
                position: relative;
                &::before {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    border: 1px solid #7C7E77;
                    border-radius: 24px;
                    left: -10px;
                    top: 10px;
                    z-index: -1;
                  }
            }
        }
        img{
            width: 100%;
            border-radius: 24px;
            margin-left: 10px;
            @media (max-width:768px) {
                margin-left: 0px;
            }
        }
    }
    .col-md-4{
        .content{
            position: relative;
            width: 100%;
            margin-left: -48px;
            margin-bottom: -48px;
            padding: 32px;
            border-radius: 24px 24px 24px 0px;
            @media screen and (max-width:768px) { 
                max-width:95%;
                margin-left: 0;
                margin-bottom: -200px;
              }
            img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }
        }
    }
    .swiper-buttons{
        position: absolute;
        height: 100px;
        top:360px;
        left: -80%;
        width: 50%;
        @media (max-width:768px) {
            top:220px;
            left:50%;
            transform: translate(-50%, -50%)
        }
        span{
            font-size: 36px;
            color:#62DB54;
        }
        .swiper-button-next::after{
            content: '';
        }
        .swiper-button-prev::after{
            content: '';
        }
        .swiper-pagination-bullet{
            background-color: #62DB54;
            opacity: .6;
            transition: .3s;
            &-active {
                opacity: 1;
                width: 16px;
                border-radius: 100px;
            }
        }
    }
  }
.joinUs{
    overflow-x: hidden;
    padding: 80px 0px;
    .joinCard{
        padding: 51px 48px;
        max-width: 966px;
        margin: 0 auto;
        border-radius: 24px;
        span{
            font-size: 110px;
            line-height: 80px;
        }
        h3{
            @include fz-5;
            font-weight: bold;
        }
        p{
            @include fz-2;
        }
        .btn{
            @include fz-2;
            border: 1px solid #fff;
            padding: 8px 32px;
        }
    }
}

